{% extends 'base.html' %}
  {% load staticfiles %}
{% block content %}
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pt-90 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white" style="color: white">Directorio de centros medicos</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">

 <div class="heading-line-bottom">
              <h4 class="heading-title" style="color: white">Zona Occidental</h4>
            </div>
<ul class="list angle-double-right">
<li>Lorem ipsum dolor sit elit</li>
<li>Lorem ipsum, consectetur adipisicing elit</li>
<li>Lorem ipsum dolor sit amet
</li>
<li>Lorem consectetur adipisicing elit</li>
</ul>


          </div>
          <div class="col-md-6">
            <div class="heading-line-bottom">
              <h4 class="heading-title" style="color: white">Zona Sur</h4>
            </div>


<ul class="list angle-double-right">
<li>Lorem ipsum dolor sit elit</li>
<li>Lorem ipsum, consectetur adipisicing elit</li>
<li>Lorem ipsum dolor sit amet

</li>
<li>Lorem consectetur adipisicing elit</li>
</ul>


          </div>
        </div>


      </div>
    </section>


    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="heading-line-bottom">
              <h4 class="heading-title " style="color: white;">Zona Norte</h4>
            </div>
          <ul class="list angle-double-right">
<li>Lorem ipsum dolor sit elit</li>
<li>Lorem ipsum, consectetur adipisicing elit</li>
<li>Lorem ipsum dolor sit amet

</li>
<li>Lorem consectetur adipisicing elit</li>
</ul>
          </div>
          <div class="col-md-6">
            <div class="heading-line-bottom">
              <h4 class="heading-title"style="color: white">Zona Central</h4>
            </div>
           <ul class="list angle-double-right">
<li>Lorem ipsum dolor sit elit</li>
<li>Lorem ipsum, consectetur adipisicing elit</li>
<li>Lorem ipsum dolor sit amet

</li>
<li>Lorem consectetur adipisicing elit</li>
</ul>
          </div>
        </div>


      </div>
    </section>

  </div>
  <!-- end main-content -->
  {% endblock %}