{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{%  static 'imagenes/fondo_videos.jpg' %}">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title text-white">Galería</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Gallery Grid 3 -->
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope grid-4 gutter clearfix">




                <!-- Portfolio Item Start -->
{% for item in albumes %}
                <div class="gallery-item branding">
                  <div class="thumb">
                    <div class="flexslider-wrapper" data-direction="vertical">
                      <div class="flexslider">
                        <ul class="slides">
                            {% for item2 in lista_albumes %}
                                {%  if item.id == item2.album_id  %}
                          <li><a href="/media/{{ item2.imagen }}" title="{{item2.titulo_imagen}}"><img class="img-responsive" src="/media/{{ item2.imagen }}"  alt=""></a></li>
                               {% endif %}
                                {% endfor %}
                                </ul>
                      </div>
                    </div>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a href="#"><i class="fa fa-picture-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    <br>
{% endfor %}
                <!-- Portfolio Item End -->
              </div>
              <!-- End Portfolio Gallery Grid -->

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}