{% extends 'base.html' %}
  {% load staticfiles %}
{% block content %}
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'imagenes/equipo_con_logo.jpg' %}">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white text-uppercase">Nuestro Equipo</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

     <!-- Section: team -->
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row mb-30">
            <div class="col-md-4">
              <div class="team-member maxwidth400">
                <div class="thumb"><img alt="" src="{% static '/imagenes/adriana_perfil.jpg' %}" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="mb-0">Ivins Adriana Zúniga</h4>
                  <p>Hondureña, maestra de educación primaria,  médica egresada de la UNAH  y mamá, Máster en  Salud Pública de la Universidad Rafael Landívar de Guatemala  considero la salud un derecho humano.</p>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member maxwidth400">
                <div class="thumb"><img alt="" src="{% static '/imagenes/clara_perfil.jpg' %}" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="mb-0">Clara López</h4>
                  <p>Creo que desde los feminismos y la Medicina, en articulación con otros sectores de la población, podemos sumar esfuerzos para fortalecer los procesos transformadores que Honduras necesita, especialmente en materia de Salud Sexual y Reproductiva.</p>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member maxwidth400">
                <div class="thumb"><img alt="" src="{% static '/imagenes/erick_perffil.jpg' %}" class="img-fullwidth"></div>
                <div class="info">
                  <h4 class="mb-0">Erick Gallardo</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Consectetur adipisicing elit. Tempore provident accusamus est asperiores illum eius is.</p>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>






  </div>
  <!-- end main-content -->
 {% endblock%}